@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

html {
    background-color: #111;
    color: white;
    font-family: Red Hat Display;
}
#sidebar {
    background-color: #222;
    left: 0;
    position: fixed;
    width: 16em;
    max-width: 16em;
    height: 100%;
    padding: .5em 2em .5em;
    display: inline;
}
a {
    color: white;
    text-decoration: none;
    font-style: italic;
}
a:hover {
    color: #aaf;
    text-decoration: underline;
}
#sidebar a {
    font-style: normal;
}
#content {
    position: absolute;
    display: inline;
    left: 20em;
    right: 0;
    top: 0;
    height: 100%;
    
    padding: 1em 2em;
}

ul {
    padding-left: 1em;
}
li {
    list-style-position: outside;
    list-style-type: circle;
}


code {
    font-family: Fira Code;
}
h1, h2, .h2, h3, h4, h5, h6 {
    width: 100%;
}
h4 {
    font-weight: bolder;
}
h1 {
    padding-bottom: 1em;
    border-bottom: 1px solid #ffff;
}
#content p {
    font-style: italic;
    margin-left: -.5em;
}
h2, .h2 {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 1em;
    border-top: 1px solid #fff8;
    padding-bottom: .5em;
}
details[open] > summary.h2 {
    border-bottom: 1px dashed #fff8;
}
#content p {
    margin-left: 1em;
}
#content ul {
    margin-left: 2em;
}
h1 + details > summary.h2 {
    border-top: none;
}
h3 {
    padding-top: 1em;
    border-top: 1px solid #fff8;
}

details[open] > div > h3:first-child {
    border-top: none;
}
details > div > p {
    color: #aaa;
}
details > div > p > i {
    color: #ffa;
}
details > div > p.desc > i {
    color: #aaa;
}
details > div > p.desc {
    color: #fff;
    font-style: normal !important;
}
details > div > p.desc + p.desc {
    margin-top: -1em;
}
pre, code {
    padding: 0 2em !important;
    border-radius: .3em !important;
    margin-left: 1em !important;
    margin-top: 1em !important;
}

 @media (max-width: 1000px) {
    #sidebar {
        display: none;
    }
    #content {
        left: 0;
    }
}